{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>UCCS CS Students</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% load django_bootstrap5 %} 
{% bootstrap_css %}
{% bootstrap_javascript %}
    

</head>


<body>
    <div class="border-bottom border-primary border-3">
    <nav class="navbar navbar-expand-sm bg-body-tertiary navbar-dark bg-dark">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-75">
    <li class="nav-item">
    <a class="nav-link " href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'show-list'%}">All Shows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user-list'%}">All users</a>
    </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"></div>
    <ul class="navbar-nav">
   
        {% if user.is_authenticated %}
         <li class="nav-item">
            <a href="{% url 'user_detail' user.id%}" class="nav-link float-end active text-uppercase" >{{user.username}}</a>
        </li>
            <li class="nav-item">
            <a class="nav-link float-end" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link float-end" href="/login">Login</a>
        </li>
        {% endif %}
    
    </ul>
    </div>
    </div>
    </div>
    </nav>
    </div>
    
<!-- add block content from html template -->
<div class = "p-5">
{% block content %}


{% endblock %}
</div>
</body>
</html>